/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}

body {
  background-color: #f3f4f6; /* Un gris léger de fond */
  margin: 0;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 500px; /* On limite la largeur pour simuler un téléphone */
  min-height: 100vh;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}